$black: #1a1919;
$white: #ffffff;

$blue: #2688a0;
$turq: #93d5db;
$green: #0bb148;

$red: #ca2727;
$yellow: #ffdf0e;

$cream: #eccc9c;

$gray: #7e7e7e;
$gray-dark: #62646f;
$gray-light: #cacaca;
$gray-bg: #f1f1f1;
$gray-lightest: #ffffff;
$gray-border: #dde0e5;

// Links
$link: $blue;
$link-hover: $cream;
$link-active: $turq;

$primary-color: rgba(255, 68, 0, 1);
$secondary-color: rgba(112, 93, 86, 1);

$text-color: rgba(51, 51, 51, 1);

$background-primary-color: rgba(239, 237, 242, 1);
$background-secondary-color: rgba(213, 226, 226, 1);
