footer {
  .footer-content {
    padding: 5px 10px 5px 0;
    display: flex;
    justify-content: flex-end;
  }

  .newsletter {
    @extend %column;
    @extend %col-md-6;
    @extend %col-sm-8;
  }

  .social {
    height: 20px;
    .icons {
      float: right;
    }
    a {
      display: inline-flex;
      text-align: right;
      margin-left: 20px;
      width: 20px;
      height: 20px;
    }
    img {
      width: 100%;
    }
  }

  label {
    display: block;
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: 700;
    color: rgba(255, 255, 255, 1);
  }
  button,
  input {
    display: inline-block;
    height: 60px;
    padding: 15px;
    border: none;
    font-size: 18px;
    line-height: 1.5;
  }
  input {
    width: 80%;
    background-color: #fff;
    background-clip: padding-box;
    border-radius: 4px 0 0 4px;
  }

  button {
    width: 20%;
    background: $black;
    color: #fff;
    border-radius: 0 4px 4px 0;
    font-weight: 700;
  }
}

@media screen and (max-width: $screen-xs-max) {
  footer {
    input {
      width: 60%;
    }
    button {
      width: 40%;
    }

    .footer-content {
    }

    .social {
      .icons {
        float: none;
      }
      a {
        margin-left: 0;
        margin-right: 15px;
      }
    }
  }
}
