.strapline-container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  @media screen and (max-width: $screen-xs-max) {
    flex-direction: column;
    text-align: center;
  }
  .logo {
    display: flex;
    margin-top: 29px;
    margin-left: 30px;
    @media screen and (max-width: $screen-xs-max) {
      margin-top: 22px;
      margin-left: 0;
      align-self: center;
    }
    a {
      display: flex;

      img {
      }
    }
  }

  ul {
    margin: 0;
  }

  .strapline {
    color: $white;
    margin-top: 31px;
    margin-right: 30px;
    @include links-on-dark;
    @include no-underline;
    text-shadow: 0 2px 12px rgba(0, 0, 0, 0.35);
    @include font-size($text-md);
    letter-spacing: -0.8px;
    @media screen and (max-width: $screen-xs-max) {
      margin: 11px 30px 15px;
      letter-spacing: -0.4px;
    }
  }
}
