.header-primary {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  .logo {
    display: flex;

    margin-top: 29px;
    margin-left: 30px;
    @media screen and (max-width: $screen-xs-max) {
      margin-top: 14px;
      margin-left: 15px;
    }
    a {
      display: flex;

      img {
      }
    }
  }

  ul {
    margin: 0;
  }

  .navigation {
    margin-top: 31px;
    margin-right: 30px;
    @include links-on-dark;
    @include no-underline;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 18px;
    li {
      display: inline-block;
      margin: 0 15px;
      font-weight: 600;
      letter-spacing: -0.5px;
      a {
        font-weight: 600;
        text-shadow: 0 2px 12px rgba(0, 0, 0, 0.35);
      }
      &:last-child {
        margin-right: 0;
      }
    }

    @media screen and (max-width: $screen-xs-max) {
      display: none;
    }
  }
  .nav-button {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    width: 90px;
    height: 90px;

    img {
      width: 90px;
      height: 90px;
    }
    .open {
      display: block;
    }
    .close {
      display: none;
    }
    &.active {
      .open {
        display: none;
      }
      .close {
        display: block;
      }
    }
  }
  @media screen and (max-width: $screen-xs-max) {
    .navigation {
      display: none;
      width: 90%;
      height: auto;
      top: 75px;
      margin: 0 5%;
      right: 0;
      left: 0;
      z-index: 1;
      background: $black;
      border-top: 1px solid $background-primary-color;
      li {
        display: block;
        margin: 30px 0;
      }

      &.open {
        position: absolute;
        height: auto;
        display: block;
      }
    }

    .nav-button {
      display: block;
    }
  }
}
