.home-nav {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  align-content: center;
  ul {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-transform: uppercase;
    @include links-on-dark;
    @include no-underline;
    font-weight: 600;

    li {
      font-weight: 600;
      font-size: 100px;
      @media screen and (max-width: $screen-xs-max) {
        font-size: 40px;
      }
    }
  }
}
