---
title: Pizza takeaway and delivery in Banbridge, Northern Ireland | Tele Pizza
---



.body-container
  .home-bg
    = partial 'partials/shared/header-strapline'
    main.main-content
      = partial 'partials/shared/home-nav'
/ section.homepage-story
/   .container
/     .row
/       .story-content
/         = markdown data.pages.home.story

/ section.homepage-products.products
/   .container
/     h2
/       | Products
/     .row
/       //product is structured: ['filename', 'data']
/       //sort by newest product
/       - data.products.sort {|(_filename_a, a),(_filename_b, b)| b.date <=> a.date}.first(3).each do | _filename, product |

/         //to get the actual data:
/         = partial 'partials/products/product', locals: {product: product}

/ section.homepage-news.news
/   .container
/     h2
/       | News
/     .news-items
/       //get the first two most recent posts
/       - blog.articles.first(2).each do | article |
/         = partial 'partials/news/news_item', locals: {article: article}